#command-search-input {
    height: 35px;
    padding: 0px 5px 0px 25px;
    border: 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#command-search-input:focus {
    outline: none;
}

#command-search {
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    margin-top: 10px;
}

#command-search-button {
    border: 0px;
    padding-right: 30px;
    padding-left: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    img {
        width: 20px;
        height: 20px;
    }
}

#command-list {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        background-color: #444;
        border-radius: 15px;
        border: 1px;
        border-color: black;
        width: 500px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin-top: 10px;
        list-style: none;
        margin-bottom: 0px;
        padding-left: 0px;
        width: 90%;

        li {
            border-radius: 15px;
            background-color: #222;
        }

        li:not(:last-child) {
            margin-bottom: 5px;
        }
    }
}

#command-list div:not(:last-child) {
    margin-bottom: 5px;
}
