textarea {
    margin-top: 15px;
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
    resize: none;
    font-size: 16px;
    transition: border 0.3s;
    border-width: 1px;
    border-style: solid;
    min-height: 38px;
    max-height: 100px;
}

textarea:focus {
    outline: none !important;
}

.text-helper {
    padding-left: 10px;
    padding-right: 15px;
}

.char-font {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#custom-font-button {
    min-width: 200px;
    height: 29px;
    color: #999;
    border: 1px solid;
    transition: 0.1s;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
    padding-left: 0;

    a {
        padding: 15px 10px 15px 10px;
        text-decoration: none;
    }
}

.nav-bar-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.font-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

    p {
        margin: 0;
        font-size: 15px;
    }
}

.manual {
    margin-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    
    hr {
        margin-bottom: 25px;
        height: 1px;
        border: none;
    }
}

@media (min-width: 1000px) {
    .manual {
        padding-left: 15% !important;
        padding-right: 15% !important;
    }

    #font-list {
        padding-left: 30%;
        padding-right: 30%;
    }
}

table {
    display: block;
    width: 100%;

    tbody {
        display: block;
        width: 100%;
    }

    td {
        padding: 5px;
    }
}

#tag-list {
    td {
        text-align: left;
    }
}

#font-list {
    td {
        width: 33%;
    }
}

section {
    margin-bottom: 50px;
}
