body {
    margin-top: 75px;
    background-color: #282C34;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

h1 {
    font-weight: 400;
    font-size: 30px;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 25px;
    color: white;
}

p {
    word-wrap: break-word;
}

p1 {
    font-size: 20px;
}

section {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

h2 {
    margin-top: 15px;
}

textarea {
    margin-top: 15px;
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
    resize: none;
    background-color: #21252B;
    color: #D0D0D0;
    border-color: #626C80;
    font-size: 16px;
}

textarea.input{
    border-color: #D99F6C;
}

textarea.translation{
    border-color: #0F8C5E;
}

textarea:focus {
    outline: none !important;
}

textarea.input:focus{
    border:1px solid #E6A873;
    box-shadow: 0 0 10px #E6A873;
}

a {
    text-decoration: none;
}

header {
    background-color: #576EF2;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 18px;
    line-height: 25px;
}

header a:hover {
    background-color: #4E63D9;
    color: white;
}

header a.active {
    background-color: #4C5273;
    color: white;
}

footer {
    background-color: #35424A;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

div#footerLeft {
    float: left;
    margin-left: 250px;
}

div#footerMid {
    margin: 0 auto;
    width: fit-content;
}

div#footerRight {
    float: right;
    margin-right: 500px;
}

footer a {
    color: #9ABFD6;
}

.preview {
    width: 600px; 
    height: 400px;
    -webkit-transform:scale(.25);
    -ms-transform:scale(.5);
    transform:scale(.5);
    -webkit-transform-origin: 0 0; 
    -ms-transform-origin: 0 0; 
    transform-origin: 0 0; 
    margin: 0 0 -300px 0;
    pointer-events: none;
    border-radius: 10px;
    border-color: #576EF2;
}

div.divLink {
    position: relative;
}

a.divLink {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    z-index: 5;
    width: 300px; 
    height: 200px;
}

[type="checkbox"] + label {
    position: absolute;
}

[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    -webkit-appearance: none;
}

[type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("data/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
}

[type="checkbox"]:checked+label::before {
    background-image: url("data/checked.png");
}

.checkbox {
    display: inline-block;
}

.checkbox#charactersCheckDiv {
    margin-right: 170px;
}