#command-search-input {
  height: 35px;
  padding: 0px 5px 0px 25px;
  border: 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#command-search-input:focus {
  outline: none;
}

#command-search {
  display: flex;
  justify-content: center;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
}

#command-search-button {
  border: 0px;
  padding-right: 30px;
  padding-left: 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
#command-search-button img {
  width: 20px;
  height: 20px;
}

#command-list {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.command-group {
  border-radius: 15px;
  width: 800px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.command-list {
  margin-top: 10px;
  list-style: none;
  margin-bottom: 0px;
  padding-left: 0px;
  width: 90%;
  line-height: 25px;
}
ul.command-list li.command-list {
  border-radius: 15px;
  padding: 15px 15px;
}
ul.command-list li.command-list h3 {
  margin: 0px;
  padding: 0px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}
ul.command-list li.command-list ul {
  margin: 0px 0px 5px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul.command-list li.command-list:not(:last-child) {
  margin-bottom: 5px;
}

#command-list div:not(:last-child) {
  margin-bottom: 5px;
}