/** Textareas */

textarea {
    margin-top: 15px;
    box-sizing: content-box;
    width: 100%;
    overflow: hidden;
    resize: none;
    background-color: #21252B;
    color: #D0D0D0;
    border-color: #626C80;
    font-size: 16px;
    transition: border 0.3s;
}

textarea.input{
    border: 1px solid #D99F6C;
}

textarea.translation{
    border: 1px solid #0F8C5E;
}

textarea:focus {
    outline: none !important;
}

textarea.input:focus {
    border: 1px solid #E6A873;
    box-shadow: 0 0 10px #E6A873;
}

textarea.input:hover {
    border: 1px solid #8C6746;
}

/** Checkbox */

[type="checkbox"] + label {
    position: absolute;
}

[type="checkbox"] {
    position: relative;
    left: 15px;
    top: -4px;
    z-index: 0;
    -webkit-appearance: none;
}

[type="checkbox"] + label::before {
    width: 22px;
    height: 18px;
    background-image: url("../data/unchecked.png");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
    z-index: 5;
    position: relative;
    transition: 0.2s;
}

[type="checkbox"]:checked+label::before {
    background-image: url("../data/checked.png");
    transition: 0.2s;
}

.checkbox {
    display: inline-block;
    margin-top: 20px;
    margin-right: 180px;
}

.checkbox label {
    transition: 0.3s;
}

.checkbox:hover label {
    color: #A8A8A8;
}
