@import url("https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h3 {
  font-size: 1.1em;
  font-weight: 300;
  margin: 5px;
}

#main-content {
  flex-grow: 1;
}

hr {
  border: none;
}

code {
  font-family: "Roboto Mono", monospace;
  border-radius: 3px;
  padding: 2px 5px;
  white-space: pre;
}

.docs-code {
  display: block;
  padding: 10px;
}

.monospace {
  font-family: "Roboto Mono", monospace;
}

footer {
  padding: 10px;
}
footer hr {
  margin-bottom: 25px;
  height: 1px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/** Buttons and Tooltips */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
button .tooltip {
  opacity: 0;
  transition: opacity 0.2s;
}

button:hover .tooltip {
  opacity: 1;
}

.tooltip {
  padding: 0.2em;
  font-size: 0.9em;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
}

span.tooltip {
  padding: 5px;
}

.tooltip-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 99%; /* To the left of the tooltip */
  margin-top: -7px;
  border: 7px solid transparent;
}

.tooltip-right {
  top: -5px;
  left: 105%;
}

/** Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #262740;
}

::-webkit-scrollbar-thumb {
  background: #d91a4d;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BF1744;
}

/** Navbar */
#header-center {
  flex-grow: 1;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.nav-bar a {
  padding: 15px 10px 15px 10px;
  text-decoration: none;
}

.nav-bar-item {
  padding-top: 15px;
  padding-bottom: 13px;
  min-width: 50px;
}

/** Foldables */
.dropdown-arrow {
  margin-left: 10px;
  width: 10px;
  height: 10px;
  content: url("https://raw.githubusercontent.com/Racooder/DiamondFire-Tools/main/data/images/arrow-up.png");
}

.foldable.folded ul {
  display: none;
}
.foldable.folded .dropdown-arrow {
  transform: rotate(180deg);
}

/** Themes */
[data-theme=rainbow] {
  background-color: #b3333f;
  color: #000;
  /** Nav Bar */
  /** Tooltips */
  /** Chosen */
  /** Menu */
  /** Text Helper */
  /** Commands */
}
[data-theme=rainbow] hr {
  color: #111;
  background-color: #111;
}
[data-theme=rainbow] a {
  color: #d99f6c;
  text-decoration: none;
  transition: 0.2s;
}
[data-theme=rainbow] a:hover {
  color: #99704d;
}
[data-theme=rainbow] code {
  background-color: #d1a69d;
}
[data-theme=rainbow] footer {
  color: #111;
}
[data-theme=rainbow] #command-search-button {
  background-color: #3c663e;
}
[data-theme=rainbow] input {
  background-color: #fff;
  color: #000;
}
[data-theme=rainbow] button {
  color: #000;
}
[data-theme=rainbow] .nav-bar-item.active {
  background-color: #d99f6c;
}
[data-theme=rainbow] .nav-bar-item:not(.active):hover {
  background-color: #000;
}
[data-theme=rainbow] .nav-bar {
  background-color: #21252b;
}
[data-theme=rainbow] .nav-bar a {
  color: #fff;
}
[data-theme=rainbow] .tooltip {
  color: #000;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
[data-theme=rainbow] .tooltip::after {
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.03));
}
[data-theme=rainbow] #th-output-tooltip::before {
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.03));
}
[data-theme=rainbow] .chosen-container-multi .chosen-choices {
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-color: #333;
}
[data-theme=rainbow] .chosen-container .chosen-drop {
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-color: #333;
}
[data-theme=rainbow] .chosen-container-multi .chosen-choices li.search-choice {
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-color: #666;
  -webkit-box-shadow: 0 0 0 inset, 0 0 0;
  color: #000;
}
[data-theme=rainbow] .chosen-container-multi .chosen-drop .result-selected {
  color: #555;
}
[data-theme=rainbow] .chosen-container .chosen-results {
  color: #000;
  overflow: hidden;
}
[data-theme=rainbow] .chosen-container .chosen-results li.highlighted {
  color: #000;
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0.5px, 0.5px) rotate(0deg);
  }
  10% {
    transform: translate(-0.5px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1.5px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1.5px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(0.5px, -0.5px) rotate(1deg);
  }
  50% {
    transform: translate(-0.5px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1.5px, 0.5px) rotate(0deg);
  }
  70% {
    transform: translate(1.5px, 0.5px) rotate(-1deg);
  }
  80% {
    transform: translate(-0.5px, -0.5px) rotate(1deg);
  }
  90% {
    transform: translate(0.5px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0.5px, -1px) rotate(-1deg);
  }
}
[data-theme=rainbow] .chosen-container-multi .chosen-choices li.search-field input[type=text] {
  color: #000;
}
[data-theme=rainbow] .chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #fff !important;
}
[data-theme=rainbow] .chosen-container .chosen-results li.no-results {
  color: #bbb;
  background-color: #252133;
}
[data-theme=rainbow] .tool-holder {
  border: 5px solid transparent;
  -o-border-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
     border-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-image-slice: 1;
}
[data-theme=rainbow] textarea {
  background-color: #21252b;
  color: #ddd;
}
[data-theme=rainbow] #custom-style-dict-button {
  background-color: #2e2940;
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-color: #333;
  color: #000;
}
[data-theme=rainbow] #custom-style-dict-button:hover {
  background-color: #3e3950;
}
[data-theme=rainbow] #text-helper-input {
  border-color: #d99f6c;
}
[data-theme=rainbow] #text-helper-input:hover {
  border-color: #8c6746;
}
[data-theme=rainbow] #text-helper-input:focus {
  border-color: #e6a873;
  box-shadow: 0 0 10px #e6a873;
}
[data-theme=rainbow] #text-helper-output {
  border-color: #626c80;
}
[data-theme=rainbow] #text-helper-output[data-output=true] {
  border-color: #0f8c5e !important;
}
[data-theme=rainbow] .command-group {
  border: 5px solid transparent;
  -o-border-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
     border-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-image-slice: 1;
}
[data-theme=rainbow] li.command-list {
  background-color: #992B36;
}
[data-theme=rainbow] .dropdown-arrow {
  filter: invert(100%);
}

[data-theme=dark] {
  background-color: #121019;
  color: #fff;
  /** Theme Icons */
  /** Nav Bar */
  /** Chosen */
  /** Tooltips */
  /** Menu */
  /** Text Helper */
  /** Commands */
}
[data-theme=dark] hr {
  color: #777;
  background-color: #777;
}
[data-theme=dark] a {
  color: #d91a4d;
  text-decoration: none;
  transition: 0.2s;
}
[data-theme=dark] a:hover {
  color: #b3153f;
}
[data-theme=dark] code {
  background-color: #1C1726;
}
[data-theme=dark] #command-search-button {
  background-color: #3c663e;
}
[data-theme=dark] input {
  background-color: #fff;
  color: #000;
}
[data-theme=dark] button {
  color: #fff;
}
[data-theme=dark] .light-mode {
  display: none;
}
[data-theme=dark] .nav-bar-item.active {
  background-color: #f21d56;
}
[data-theme=dark] .nav-bar-item:not(.active):hover {
  background-color: #000;
}
[data-theme=dark] .nav-bar {
  background-color: #181a1f;
}
[data-theme=dark] .nav-bar a {
  color: #fff;
}
[data-theme=dark] .chosen-container-multi .chosen-choices {
  background-image: linear-gradient(#252133 1%, #252133 15%);
  border-color: #333;
}
[data-theme=dark] .chosen-container .chosen-drop {
  background-image: linear-gradient(#252133 1%, #252133 15%);
  border-color: #333;
}
[data-theme=dark] .chosen-container-multi .chosen-choices li.search-choice {
  background-image: linear-gradient(#252133 1%, #252133 15%);
  border-color: #666;
  -webkit-box-shadow: 0 0 0 inset, 0 0 0;
  color: #ddd;
}
[data-theme=dark] .chosen-container-multi .chosen-drop .result-selected {
  color: #555;
}
[data-theme=dark] .chosen-container .chosen-results {
  color: #bbb;
}
[data-theme=dark] .chosen-container .chosen-results li.highlighted {
  color: #bbb;
  background-image: linear-gradient(#2e2940 20%, #2e2940 90%);
}
[data-theme=dark] .chosen-container-multi .chosen-choices li.search-field input[type=text] {
  color: #bbb;
}
[data-theme=dark] .chosen-container-active .chosen-choices li.search-field input[type=text] {
  color: #fff !important;
}
[data-theme=dark] .chosen-container .chosen-results li.no-results {
  color: #bbb;
  background-color: #252133;
}
[data-theme=dark] .tooltip {
  background-color: #2e2940;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
[data-theme=dark] .tooltip::after {
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
[data-theme=dark] .tooltip-right::after {
  border-right-color: #2e2940;
}
[data-theme=dark] #th-output-tooltip::before {
  border-bottom-color: #2e2940;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}
[data-theme=dark] .tool-holder {
  border: 1px solid transparent;
  border-radius: 5px;
  border-color: #f21d56;
}
[data-theme=dark] textarea {
  background-color: #21252b;
  color: #ddd;
}
[data-theme=dark] #custom-style-dict-button {
  background-color: #2e2940;
  border-color: #333;
  color: #bbb;
}
[data-theme=dark] #custom-style-dict-button:hover {
  background-color: #3e3950;
}
[data-theme=dark] #text-helper-input {
  border-color: #f21d56;
}
[data-theme=dark] #text-helper-input:hover {
  border-color: #a6173d;
}
[data-theme=dark] #text-helper-input:focus {
  border-color: #f21d56;
  box-shadow: 0 0 10px #f21d56;
}
[data-theme=dark] #text-helper-output[data-output=false] {
  border-color: #626c80;
}
[data-theme=dark] #text-helper-output[data-output=true] {
  border-color: #0f8c5e;
}
[data-theme=dark] #custom-style-dict-docs {
  background-color: #121019;
  border-color: #f21d56;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.3);
}
[data-theme=dark] .command-group {
  background-color: #1C1726;
}
[data-theme=dark] li.command-list {
  background-color: #2E273F;
}

[data-theme=light] {
  background-color: #fff;
  color: #000;
  /** Tooltips */
  /** Theme Icons */
  /** Nav Bar */
  /** Menu */
  /** Text Helper */
  /** Text Helper */
  /** Commands */
}
[data-theme=light] hr {
  color: #777;
  background-color: #777;
}
[data-theme=light] a {
  color: #ff1f5a;
  text-decoration: none;
  transition: 0.2s;
}
[data-theme=light] a:hover {
  color: #b3153f;
}
[data-theme=light] code {
  background-color: #aec1e9;
}
[data-theme=light] #command-search-button {
  background-color: #3c663e;
}
[data-theme=light] input {
  background-color: #21252b;
  color: #fff;
}
[data-theme=light] button {
  color: #000;
}
[data-theme=light] .tooltip {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}
[data-theme=light] .tooltip::after {
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.03));
}
[data-theme=light] .tooltip-right::after {
  border-right-color: #fff;
}
[data-theme=light] #th-output-tooltip::before {
  border-bottom-color: #fff;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.03));
}
[data-theme=light] .dark-mode {
  display: none;
}
[data-theme=light] .nav-bar-item.active {
  background-color: #f21d56;
}
[data-theme=light] .nav-bar-item:not(.active):hover {
  background-color: #000;
}
[data-theme=light] .nav-bar {
  background-color: #21252b;
}
[data-theme=light] .nav-bar a {
  color: #fff;
}
[data-theme=light] .tool-holder {
  border: 1px solid transparent;
  border-radius: 5px;
  border-color: #f21d56;
}
[data-theme=light] #custom-style-dict-button {
  background-color: #fff;
  border-color: #aaa;
}
[data-theme=light] #custom-style-dict-button:hover {
  background-color: #3875d7;
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}
[data-theme=light] textarea {
  background-color: #fff;
  color: #555;
}
[data-theme=light] #text-helper-input {
  border-color: #f21d56;
}
[data-theme=light] #text-helper-input:hover {
  border-color: #a6173d;
}
[data-theme=light] #text-helper-input:focus {
  border-color: #f21d56;
  box-shadow: 0 0 10px #f21d56;
}
[data-theme=light] #text-helper-output[data-output=false] {
  border-color: #626c80;
}
[data-theme=light] #text-helper-output[data-output=true] {
  border-color: #00bb76;
}
[data-theme=light] #custom-style-dict-docs {
  background-color: #fff;
  border-color: #f21d56;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.1);
}
[data-theme=light] .command-group {
  border-color: #f21d56;
  border-width: 1px;
  border-style: solid;
}
[data-theme=light] li.command-list {
  background-color: #CBC7D4;
}
[data-theme=light] .dropdown-arrow {
  filter: invert(100%);
}