@font-face {
    font-family: Minecraft-Regular;
    src: local(Minecraft-Regular),
        url(/static/fonts/minecraft-regular.otf) format("opentype");
}

html {
    background-color: #2d2d2d;
    color: #ffffff;
}
